{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="{% sass_src 'cargar_datos.scss' %}"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto:wght@100;300;400;700&display=swap');
    </style>
    <title>Cargar_datos</title>
  </head>
  <body>
    {% include 'index.html' %}
    <h1>Ingresa datos de familiares</h1>
    <div name="formulario" class="formulario">
      <form method="post" novalidate>
        {% csrf_token %} {{ carga_familia_form }}
        <button type="submit" class="boton-form">Submit</button>
      </form>
    </div>
    <button
      class="boton-volver"
      onclick="location.href='http://127.0.0.1:8000/'"
      type="button"
    >
      Volver
    </button>
  </body>
</html>
