{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% sass_src 'index.scss' %}" rel="stylesheet" type="text/css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto:wght@100;300;400;700&display=swap');
    </style>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
      </head>
      <body>
        <div class="inicio">
          <button
            class="boton-inicio"
            onclick="location.href='http://127.0.0.1:8000/familia/'"
            type="button"
          >
            Familia
          </button>
          <button
            class="boton-inicio"
            onclick="location.href='http://127.0.0.1:8000/cargar-datos/'"
            type="button"
          >
            Cargar Datos
          </button>
        </div>
      </body>
    </html>
  </head>
</html>
